.wrapper {
        display: grid;
        grid-gap: 1vw;
        grid-template-columns: 12vw 28vw 28vw 28vw;
        color: #444;
    }

.cook {
  font-family: 'UnifrakturCook', cursive;
}

@media screen and (max-width: 1100px) {
  .wrapper {
        grid-template-columns: 15vw 83vw;
    grid-gap: 2vw;
    }
  }

  .sidebar-1 {
    grid-column: 1 ;
    grid-row: 1;
  }

  .sidebar-2 {
    grid-column: 1 ;
    grid-row: 2;
    font-family: monospace;
    margin: auto;
  }

  .vertical-rl {
    writing-mode: vertical-rl;
  }

  .vertical-lr {
    writing-mode: vertical-lr;
  }

  .rotate-180 {
    transform: rotate(-180deg);
  }

  .rotate180 {
    transform: rotate(180deg);
  }

  .a {
  grid-column: 2 ;
  grid-row: 1  / span 2;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  font-size: 150%;
}

.b {
  grid-column: 3 ;
  grid-row: 1;
}

.c {
  grid-column: 4 ;
  grid-row: 1   / span 3;
  font-family: monospace;
}

.d {
  grid-column: 3 ;
  grid-row: 2;
}

.e {
  grid-column: 2 ;
  grid-row: 3;
}

.f {
  grid-column: 3 ;
  grid-row: 3;
  margin-left: 0;
  margin-right: auto;
  font-family: 'UnifrakturCook', cursive;
  font-size: 180%;
}

@media screen and (max-width: 1100px) {
  .sidebar-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    font-size: 125%;
  }

  .sidebar-2 {
    grid-column: 1 ;
    grid-row: 3 / span 2;
    font-family: monospace;
    font-size: 200%;
    margin: auto;
  }

.a {
  grid-column: 2;
  grid-row: 1;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

.b {
  grid-column: 2;
  grid-row: 2;
}

.c {
  grid-column: 2;
  grid-row: 3;
  font-family: monospace;
}

.d {
  grid-column: 2;
  grid-row: 4;
}

.e {
  grid-column: 2;
  grid-row: 5;
}

.f {
  grid-column: 1 / span 2;
  grid-row: 6;
  margin-left: 0;
  margin-right: auto;
  font-family: 'UnifrakturCook', cursive;
  font-size: 300%;
}
  }

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color: #D3D3D3;
}
